
__pycache__/

*.pyc



*.log



.vscode/launch.json




Vehicles/TrainData/

Vehicles/TestingMod/

Vehicles/TestingGen/

Vehicles/TestingGenD/

Vehicles/GenDisV/

Vehicles/

Evals/.~lock.compare_medForest.csv#

*.csv#

Evals/imgs/
